# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [25]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

### Show ticker info

In [26]:
pd.Series(ticker.info).head(20)

address1                                                    One Apple Park Way
city                                                                 Cupertino
state                                                                       CA
zip                                                                      95014
country                                                          United States
phone                                                             408 996 1010
website                                                  https://www.apple.com
industry                                                  Consumer Electronics
industryDisp                                              Consumer Electronics
sector                                                              Technology
longBusinessSummary          Apple Inc. designs, manufactures, and markets ...
fullTimeEmployees                                                       164000
companyOfficers              [{'maxAge': 1, 'name': 'Mr. Timothy D. Cook', ...
auditRisk                                                                    4
boardRisk                                                                    1
compensationRisk                                                             5
shareHolderRightsRisk                                                        1
overallRisk                                                                  1
governanceEpochDate                                                 1688169600
compensationAsOfEpochDate                                           1672444800
dtype: object

### Get market data

In [35]:
if False:
    data = ticker.history(period='5d',
                          interval='1m',
                          start=None,
                          end=None,
                          actions=True,
                          auto_adjust=True,
                          back_adjust=False)

data = ticker.history(start="1990-07-10",
                      end="2023-07-11",
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8311 entries, 1990-07-10 00:00:00-04:00 to 2023-07-06 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          8311 non-null   float64
 1   High          8311 non-null   float64
 2   Low           8311 non-null   float64
 3   Close         8311 non-null   float64
 4   Volume        8311 non-null   int64
 5   Dividends     8311 non-null   float64
 6   Stock Splits  8311 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 519.4 KB

### View company actions

In [36]:
# show actions (dividends, splits)
ticker.actions

                           Dividends  Stock Splits
Date
1990-08-20 00:00:00-04:00   0.000982           0.0
1990-11-16 00:00:00-05:00   0.001071           0.0
1991-02-15 00:00:00-05:00   0.001071           0.0
1991-05-20 00:00:00-04:00   0.001071           0.0
1991-08-19 00:00:00-04:00   0.001071           0.0
...                              ...           ...
2022-05-06 00:00:00-04:00   0.230000           0.0
2022-08-05 00:00:00-04:00   0.230000           0.0
2022-11-04 00:00:00-04:00   0.230000           0.0
2023-02-10 00:00:00-05:00   0.230000           0.0
2023-05-12 00:00:00-04:00   0.240000           0.0

[70 rows x 2 columns]

In [37]:
ticker.dividends

Date
1990-08-20 00:00:00-04:00    0.000982
1990-11-16 00:00:00-05:00    0.001071
1991-02-15 00:00:00-05:00    0.001071
1991-05-20 00:00:00-04:00    0.001071
1991-08-19 00:00:00-04:00    0.001071
                               ...
2022-05-06 00:00:00-04:00    0.230000
2022-08-05 00:00:00-04:00    0.230000
2022-11-04 00:00:00-04:00    0.230000
2023-02-10 00:00:00-05:00    0.230000
2023-05-12 00:00:00-04:00    0.240000
Name: Dividends, Length: 66, dtype: float64

In [38]:
ticker.splits

Date
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

### Annual and Quarterly Financial Statement Summary

In [39]:
ticker.financials

,2022-09-30,2021-09-30,2020-09-30,2019-09-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.162045,0.133023,0.144282,0.159438
Normalized EBITDA,130541000000.0,120233000000.0,77344000000.0,76477000000.0
Net Income From Continuing Operation Net Minority Interest,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Reconciled Depreciation,11104000000.0,11284000000.0,11056000000.0,12547000000.0
Reconciled Cost Of Revenue,223546000000.0,212981000000.0,169559000000.0,161782000000.0
EBIT,119437000000.0,108949000000.0,66288000000.0,63930000000.0
Net Interest Income,-106000000.0,198000000.0,890000000.0,1385000000.0
Interest Expense,2931000000.0,2645000000.0,2873000000.0,3576000000.0
Interest Income,2825000000.0,2843000000.0,3763000000.0,4961000000.0
Normalized Income,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income From Continuing And Discontinued Operation,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Total Expenses,274891000000.0,256868000000.0,208227000000.0,196244000000.0
Total Operating Income As Reported,119437000000.0,108949000000.0,66288000000.0,63930000000.0
Diluted Average Shares,16325819000.0,16864919000.0,17528214000.0,18595652000.0
Basic Average Shares,16215963000.0,16701272000.0,17352119000.0,18471336000.0
Diluted EPS,6.11,5.61,3.28,2.9725
Basic EPS,6.15,5.67,3.31,2.9925
Diluted NI Availto Com Stockholders,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income Common Stockholders,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income Including Noncontrolling Interests,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income Continuous Operations,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Tax Provision,19300000000.0,14527000000.0,9680000000.0,10481000000.0
Pretax Income,119103000000.0,109207000000.0,67091000000.0,65737000000.0
Other Income Expense,-334000000.0,258000000.0,803000000.0,1807000000.0
Other Non Operating Income Expenses,-334000000.0,258000000.0,803000000.0,1807000000.0
Net Non Operating Interest Income Expense,-106000000.0,198000000.0,890000000.0,1385000000.0
Interest Expense Non Operating,2931000000.0,2645000000.0,2873000000.0,3576000000.0
Interest Income Non Operating,2825000000.0,2843000000.0,3763000000.0,4961000000.0
Operating Income,119437000000.0,108949000000.0,66288000000.0,63930000000.0
Operating Expense,51345000000.0,43887000000.0,38668000000.0,34462000000.0
Research And Development,26251000000.0,21914000000.0,18752000000.0,16217000000.0
Selling General And Administration,25094000000.0,21973000000.0,19916000000.0,18245000000.0
Gross Profit,170782000000.0,152836000000.0,104956000000.0,98392000000.0
Cost Of Revenue,223546000000.0,212981000000.0,169559000000.0,161782000000.0
Total Revenue,394328000000.0,365817000000.0,274515000000.0,260174000000.0
Operating Revenue,394328000000.0,365817000000.0,274515000000.0,260174000000.0

In [12]:
ticker.quarterly_financials

,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.22,0.24,0.21,0.18
Normalized EBITDA,9751000000.0,8775000000.0,7839000000.0,10337000000.0
Total Unusual Items,-63000000.0,57000000.0,-131000000.0,-60000000.0
Total Unusual Items Excluding Goodwill,-63000000.0,57000000.0,-131000000.0,-60000000.0
Net Income From Continuing Operation Net Minority Interest,5709000000.0,4652000000.0,4395000000.0,6687000000.0
Reconciled Depreciation,2524000000.0,2376000000.0,2175000000.0,1979000000.0
Reconciled Cost Of Revenue,6108000000.0,8336000000.0,5716000000.0,5192000000.0
EBIT,7227000000.0,6399000000.0,5664000000.0,8358000000.0
Net Interest Income,80000000.0,-250000000.0,-88000000.0,-172000000.0
Interest Expense,55000000.0,NaN,NaN,NaN
Interest Income,193000000.0,32000000.0,77000000.0,91000000.0
Normalized Income,5709000000.0,4652000000.0,4395000000.0,6687000000.0
Net Income From Continuing And Discontinued Operation,5709000000.0,4652000000.0,4395000000.0,6687000000.0
Total Expenses,21418000000.0,25766000000.0,22050000000.0,20464000000.0
Total Operating Income As Reported,7227000000.0,6399000000.0,5664000000.0,8358000000.0
Diluted Average Shares,2596000000.0,2640000000.0,2687000000.0,2713000000.0
Basic Average Shares,2587000000.0,2638000000.0,2682000000.0,2704000000.0
Diluted EPS,2.2,1.76,1.64,2.46
Basic EPS,2.21,1.76,1.64,2.47
Diluted NI Availto Com Stockholders,5709000000.0,4652000000.0,4395000000.0,6687000000.0
Average Dilution Earnings,801000000.0,NaN,665000000.0,1010000000.0
Net Income Common Stockholders,5709000000.0,4652000000.0,4395000000.0,6687000000.0
Net Income,5709000000.0,4652000000.0,4395000000.0,6687000000.0
Net Income Including Noncontrolling Interests,5709000000.0,4652000000.0,4395000000.0,6687000000.0
Net Income Continuous Operations,5709000000.0,4652000000.0,4395000000.0,6687000000.0
Tax Provision,1598000000.0,1497000000.0,1181000000.0,1499000000.0
Pretax Income,7307000000.0,6149000000.0,5576000000.0,8186000000.0
Other Income Expense,-63000000.0,-282000000.0,-165000000.0,-263000000.0
Other Non Operating Income Expenses,NaN,-339000000.0,-34000000.0,-203000000.0
Gain On Sale Of Security,-63000000.0,57000000.0,-131000000.0,-60000000.0
Net Non Operating Interest Income Expense,80000000.0,-250000000.0,-88000000.0,-172000000.0
Total Other Finance Cost,-80000000.0,250000000.0,88000000.0,172000000.0
Interest Expense Non Operating,55000000.0,NaN,NaN,NaN
Interest Income Non Operating,193000000.0,32000000.0,77000000.0,91000000.0
Operating Income,7227000000.0,6399000000.0,5664000000.0,8358000000.0
Operating Expense,15310000000.0,17430000000.0,16334000000.0,15272000000.0
Research And Development,9381000000.0,9771000000.0,9170000000.0,8690000000.0
Selling General And Administration,5929000000.0,7659000000.0,7164000000.0,6582000000.0
Selling And Marketing Expense,3044000000.0,4574000000.0,3780000000.0,3595000000.0
General And Administrative Expense,2885000000.0,3085000000.0,3384000000.0,2987000000.0
Other Gand A,2885000000.0,3085000000.0,3384000000.0,2987000000.0
Gross Profit,22537000000.0,23829000000.0,21998000000.0,23630000000.0
Cost Of Revenue,6108000000.0,8336000000.0,5716000000.0,5192000000.0
Total Revenue,28645000000.0,32165000000.0,27714000000.0,28822000000.0
Operating Revenue,28440000000.0,31981000000.0,27522000000.0,28604000000.0

### Annual and Quarterly Balance Sheet

In [13]:
ticker.balance_sheet

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Ordinary Shares Number,2614000000.0,2741000000.0,2849000000.0,2852000000.0
Share Issued,2614000000.0,2741000000.0,2849000000.0,2852000000.0
Total Debt,26591000000.0,13873000000.0,10654000000.0,10324000000.0
Tangible Book Value,104510000000.0,105048000000.0,108617000000.0,81445000000.0
Invested Capital,135636000000.0,124879000000.0,128290000000.0,101054000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,40738000000.0,47998000000.0,61954000000.0,54855000000.0
Other Short Term Investments,26057000000.0,31397000000.0,44378000000.0,35776000000.0
Cash And Cash Equivalents,14681000000.0,16601000000.0,17576000000.0,19079000000.0
Cash Equivalents,8505000000.0,9293000000.0,11088000000.0,14344000000.0
Cash Financial,6176000000.0,7308000000.0,6488000000.0,4735000000.0

In [14]:
ticker.quarterly_balance_sheet

,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Ordinary Shares Number,2566000000.0,2614000000.0,2665000000.0,2697000000.0
Share Issued,2566000000.0,2614000000.0,2665000000.0,2697000000.0
Total Debt,27575000000.0,26591000000.0,25900000000.0,16067000000.0
Tangible Book Value,103197000000.0,104510000000.0,102951000000.0,104573000000.0
Invested Capital,134720000000.0,135636000000.0,134016000000.0,125767000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,37439000000.0,40738000000.0,41776000000.0,40489000000.0
Other Short Term Investments,25888000000.0,26057000000.0,27468000000.0,27808000000.0
Cash And Cash Equivalents,11551000000.0,14681000000.0,14308000000.0,12681000000.0
Cash Equivalents,5871000000.0,8505000000.0,8148000000.0,6359000000.0
Cash Financial,5680000000.0,6176000000.0,6160000000.0,6322000000.0

### Annual and Quarterly Cashflow Statement

In [15]:
ticker.cashflow

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,19044000000.0,39116000000.0,23632000000.0,21212000000.0
Repurchase Of Capital Stock,-27956000000.0,-44537000000.0,-6272000000.0,-4202000000.0
Repayment Of Debt,-850000000.0,-677000000.0,-604000000.0,-552000000.0
Issuance Of Debt,9921000000.0,NaN,NaN,NaN
Capital Expenditure,-31431000000.0,-18567000000.0,-15115000000.0,-15102000000.0
Income Tax Paid Supplemental Data,6407000000.0,8525000000.0,4229000000.0,5182000000.0
End Cash Position,15596000000.0,16865000000.0,17954000000.0,19279000000.0
Beginning Cash Position,16865000000.0,17954000000.0,19279000000.0,10124000000.0
Effect Of Exchange Rate Changes,-638000000.0,-474000000.0,279000000.0,4000000.0
Changes In Cash,-631000000.0,-615000000.0,-1604000000.0,9151000000.0
Financing Cash Flow,-22136000000.0,-50728000000.0,-10292000000.0,-7299000000.0
Cash Flow From Continuing Financing Activities,-22136000000.0,-50728000000.0,-10292000000.0,-7299000000.0
Net Other Financing Charges,-3251000000.0,-5528000000.0,-3440000000.0,-2322000000.0
Net Common Stock Issuance,-27956000000.0,-44537000000.0,-6272000000.0,-4202000000.0
Common Stock Payments,-27956000000.0,-44537000000.0,-6272000000.0,-4202000000.0
Net Issuance Payments Of Debt,9071000000.0,-663000000.0,-580000000.0,-775000000.0
Net Short Term Debt Issuance,NaN,14000000.0,24000000.0,-223000000.0
Net Long Term Debt Issuance,9071000000.0,-677000000.0,-604000000.0,-552000000.0
Long Term Debt Payments,-850000000.0,-677000000.0,-604000000.0,-552000000.0
Long Term Debt Issuance,9921000000.0,NaN,NaN,NaN
Investing Cash Flow,-28970000000.0,-7570000000.0,-30059000000.0,-19864000000.0
Cash Flow From Continuing Investing Activities,-28970000000.0,-7570000000.0,-30059000000.0,-19864000000.0
Net Other Investing Changes,1000000.0,-284000000.0,-36000000.0,-61000000.0
Net Investment Purchase And Sale,3527000000.0,12179000000.0,-8159000000.0,-4193000000.0
Sale Of Investment,13158000000.0,42586000000.0,25771000000.0,19717000000.0
Purchase Of Investment,-9631000000.0,-30407000000.0,-33930000000.0,-23910000000.0
Net Business Purchase And Sale,-1312000000.0,-898000000.0,-6749000000.0,-508000000.0
Purchase Of Business,-1312000000.0,-898000000.0,-6749000000.0,-508000000.0
Net PPE Purchase And Sale,-31186000000.0,-18567000000.0,-15115000000.0,-15102000000.0
Sale Of PPE,245000000.0,NaN,NaN,NaN
Purchase Of PPE,-31431000000.0,-18567000000.0,-15115000000.0,-15102000000.0
Operating Cash Flow,50475000000.0,57683000000.0,38747000000.0,36314000000.0
Cash Flow From Continuing Operating Activities,50475000000.0,57683000000.0,38747000000.0,36314000000.0
Change In Working Capital,5683000000.0,700000000.0,-2723000000.0,7250000000.0
Change In Other Working Capital,NaN,187000000.0,108000000.0,123000000.0
Change In Other Current Liabilities,886000000.0,941000000.0,-527000000.0,1239000000.0
Change In Other Current Assets,-106000000.0,-349000000.0,-34000000.0,41000000.0
Change In Payables And Accrued Expense,4510000000.0,4781000000.0,-893000000.0,7761000000.0
Change In Accrued Expense,4210000000.0,3357000000.0,-1054000000.0,7300000000.0
Change In Payable,300000000.0,1424000000.0,161000000.0,461000000.0
Change In Account Payable,210000000.0,1436000000.0,-17000000.0,113000000.0
Change In Prepaid Assets,162000000.0,-1750000000.0,135000000.0,47000000.0
Change In Receivables,231000000.0,-3110000000.0,-1512000000.0,-1961000000.0
Changes In Account Receivables,231000000.0,-3110000000.0,-1512000000.0,-1961000000.0
Other Non Cash Items,1519000000.0,-127000000.0,118000000.0,39000000.0
Stock Based Compensation,11992000000.0,9164000000.0,6536000000.0,4836000000.0
Unrealized Gain Loss On Investment Securities,463000000.0,NaN,NaN,NaN
Asset Impairment Charge,2218000000.0,NaN,NaN,NaN
Deferred Tax,-3286000000.0,609000000.0,-1192000000.0,-37000000.0
Deferred Income Tax,-3286000000.0,609000000.0,-1192000000.0,-37000000.0
Depreciation Amortization Depletion,8686000000.0,7967000000.0,6862000000.0,5741000000.0
Depreciation And Amortization,8686000000.0,7967000000.0,6862000000.0,5741000000.0
Net Income From Continuing Operations,23200000000.0,39370000000.0,29146000000.0,18485000000.0

In [16]:
ticker.quarterly_cashflow

,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Free Cash Flow,7156000000.0,5468000000.0,316000000.0,4625000000.0
Repurchase Of Capital Stock,-9365000000.0,-6863000000.0,-6354000000.0,-5233000000.0
Repayment Of Debt,-264000000.0,-235000000.0,-163000000.0,-219000000.0
Issuance Of Debt,NaN,0.0,9921000000.0,NaN
Capital Expenditure,-6842000000.0,-9043000000.0,-9375000000.0,-7572000000.0
Interest Paid Supplemental Data,182000000.0,NaN,NaN,NaN
Income Tax Paid Supplemental Data,405000000.0,1760000000.0,2006000000.0,2139000000.0
End Cash Position,12420000000.0,15596000000.0,15251000000.0,13478000000.0
Beginning Cash Position,15596000000.0,15251000000.0,13478000000.0,15353000000.0
Effect Of Exchange Rate Changes,85000000.0,424000000.0,-364000000.0,-550000000.0
Changes In Cash,-3261000000.0,-79000000.0,2137000000.0,-1325000000.0
Financing Cash Flow,-10516000000.0,-7059000000.0,2147000000.0,-6563000000.0
Cash Flow From Continuing Financing Activities,-10516000000.0,-7059000000.0,2147000000.0,-6563000000.0
Net Other Financing Charges,-887000000.0,39000000.0,-1066000000.0,-1032000000.0
Net Common Stock Issuance,-9365000000.0,-6863000000.0,-6354000000.0,-5233000000.0
Common Stock Payments,-9365000000.0,-6863000000.0,-6354000000.0,-5233000000.0
Net Issuance Payments Of Debt,-264000000.0,-235000000.0,9567000000.0,-298000000.0
Net Short Term Debt Issuance,NaN,NaN,-191000000.0,-79000000.0
Net Long Term Debt Issuance,-264000000.0,-235000000.0,9758000000.0,-219000000.0
Long Term Debt Payments,-264000000.0,-235000000.0,-163000000.0,-219000000.0
Long Term Debt Issuance,NaN,0.0,9921000000.0,NaN
Investing Cash Flow,-6743000000.0,-7531000000.0,-9701000000.0,-6959000000.0
Cash Flow From Continuing Investing Activities,-6743000000.0,-7531000000.0,-9701000000.0,-6959000000.0
Net Other Investing Changes,75000000.0,-3000000.0,16000000.0,-7000000.0
Net Investment Purchase And Sale,449000000.0,1522000000.0,-328000000.0,939000000.0
Sale Of Investment,534000000.0,2263000000.0,2269000000.0,3159000000.0
Purchase Of Investment,-85000000.0,-741000000.0,-2597000000.0,-2220000000.0
Net Business Purchase And Sale,-444000000.0,-62000000.0,-34000000.0,-363000000.0
Purchase Of Business,-444000000.0,-62000000.0,-34000000.0,-363000000.0
Net PPE Purchase And Sale,-6823000000.0,-8988000000.0,-9355000000.0,-7528000000.0
Sale Of PPE,19000000.0,55000000.0,20000000.0,44000000.0
Purchase Of PPE,-6842000000.0,-9043000000.0,-9375000000.0,-7572000000.0
Operating Cash Flow,13998000000.0,14511000000.0,9691000000.0,12197000000.0
Cash Flow From Continuing Operating Activities,13998000000.0,14511000000.0,9691000000.0,12197000000.0
Change In Working Capital,2571000000.0,1930000000.0,567000000.0,444000000.0
Change In Other Working Capital,NaN,NaN,-7000000.0,24000000.0
Change In Other Current Liabilities,184000000.0,439000000.0,540000000.0,-88000000.0
Change In Other Current Assets,30000000.0,54000000.0,-27000000.0,-25000000.0
Change In Payables And Accrued Expense,-1010000000.0,2281000000.0,996000000.0,1490000000.0
Change In Accrued Expense,334000000.0,1303000000.0,998000000.0,1180000000.0
Change In Payable,-1344000000.0,978000000.0,-2000000.0,310000000.0
Change In Account Payable,-1104000000.0,876000000.0,-22000000.0,237000000.0
Change In Prepaid Assets,821000000.0,854000000.0,-830000000.0,-435000000.0
Change In Receivables,2546000000.0,-1698000000.0,-105000000.0,-522000000.0
Changes In Account Receivables,2546000000.0,-1698000000.0,-105000000.0,-522000000.0
Other Non Cash Items,-7000000.0,1585000000.0,104000000.0,189000000.0
Stock Based Compensation,3051000000.0,3008000000.0,3134000000.0,3351000000.0
Unrealized Gain Loss On Investment Securities,NaN,328000000.0,NaN,NaN
Asset Impairment Charge,770000000.0,1805000000.0,413000000.0,NaN
Deferred Tax,-620000000.0,-1173000000.0,-1097000000.0,-453000000.0
Deferred Income Tax,-620000000.0,-1173000000.0,-1097000000.0,-453000000.0
Depreciation Amortization Depletion,2524000000.0,2376000000.0,2175000000.0,1979000000.0
Depreciation And Amortization,2524000000.0,2376000000.0,2175000000.0,1979000000.0
Net Income From Continuing Operations,5709000000.0,4652000000.0,4395000000.0,6687000000.0

In [17]:
ticker.earnings

YFNotImplementedError: Have not implemented fetching 'earnings' from Yahoo API

In [18]:
ticker.quarterly_earnings

YFNotImplementedError: Have not implemented fetching 'earnings' from Yahoo API

### Sustainability: Environmental, Social and Governance (ESG)

In [20]:
ticker.sustainability

YFNotImplementedError: Have not implemented fetching 'sustainability' from Yahoo API

### Analyst Recommendations

In [21]:
ticker.recommendations.info()

YFNotImplementedError: Have not implemented fetching 'recommendations' from Yahoo API

In [22]:
ticker.recommendations.tail(10)

YFNotImplementedError: Have not implemented fetching 'recommendations' from Yahoo API

### Upcoming Events

In [23]:
ticker.calendar

YFNotImplementedError: Have not implemented fetching 'calendar' from Yahoo API

### Option Expiration Dates

In [24]:
ticker.options

('2023-07-07',
 '2023-07-14',
 '2023-07-21',
 '2023-07-28',
 '2023-08-04',
 '2023-08-11',
 '2023-08-18',
 '2023-09-15',
 '2023-10-20',
 '2023-11-17',
 '2023-12-15',
 '2024-01-19',
 '2024-02-16',
 '2024-03-15',
 '2024-06-21',
 '2024-09-20',
 '2025-01-17',
 '2025-06-20',
 '2025-12-19')

In [22]:
expiration = ticker.options[0]

In [23]:
options = ticker.option_chain(expiration)

In [24]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     45 non-null     object
 1   lastTradeDate      45 non-null     datetime64[ns]
 2   strike             45 non-null     float64
 3   lastPrice          45 non-null     float64
 4   bid                45 non-null     float64
 5   ask                45 non-null     float64
 6   change             45 non-null     float64
 7   percentChange      45 non-null     float64
 8   volume             45 non-null     int64
 9   openInterest       45 non-null     int64
 10  impliedVolatility  45 non-null     float64
 11  inTheMoney         45 non-null     bool
 12  contractSize       45 non-null     object
 13  currency           45 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(7), int64(2), object(3)
memory usage: 4.7+ KB

In [25]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,FB201231C00195000,2020-12-30 20:54:40,195.0,77.60,76.35,77.5,-4.200005,-5.134480,1,21,1.773439,True,REGULAR,USD
1,FB201231C00200000,2020-12-30 20:39:19,200.0,72.50,71.35,72.5,-5.250000,-6.752411,7,33,1.648439,True,REGULAR,USD
2,FB201231C00205000,2020-12-30 20:22:11,205.0,68.29,66.35,67.5,-4.870003,-6.656647,11,49,1.531252,True,REGULAR,USD
3,FB201231C00210000,2020-12-29 20:31:41,210.0,68.18,61.35,62.5,0.000000,0.000000,2,43,1.414065,True,REGULAR,USD
4,FB201231C00215000,2020-12-24 15:29:26,215.0,55.50,56.35,57.5,0.000000,0.000000,3,35,1.296879,True,REGULAR,USD

In [26]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     43 non-null     object
 1   lastTradeDate      43 non-null     datetime64[ns]
 2   strike             43 non-null     float64
 3   lastPrice          43 non-null     float64
 4   bid                43 non-null     float64
 5   ask                43 non-null     float64
 6   change             43 non-null     float64
 7   percentChange      43 non-null     float64
 8   volume             42 non-null     float64
 9   openInterest       43 non-null     int64
 10  impliedVolatility  43 non-null     float64
 11  inTheMoney         43 non-null     bool
 12  contractSize       43 non-null     object
 13  currency           43 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 4.5+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [27]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [28]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msft.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [29]:
tickers = yf.Tickers('msft aapl goog')

In [30]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [31]:
pd.Series(tickers.tickers['MSFT'].info)

zip                                                                98052-6399
sector                                                             Technology
fullTimeEmployees                                                      163000
longBusinessSummary         Microsoft Corporation develops, licenses, and ...
city                                                                  Redmond
                                                  ...
impliedSharesOutstanding                                                 None
category                                                                 None
fiveYearAverageReturn                                                    None
regularMarketPrice                                                     225.23
logo_url                              https://logo.clearbit.com/microsoft.com
Length: 123, dtype: object

In [32]:
tickers.tickers['AAPL'].history(period="1mo")

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2020-11-30  116.97  120.97  116.81  119.05  169410200          0             0
2020-12-01  121.01  123.47  120.01  122.72  128166800          0             0
2020-12-02  122.02  123.37  120.89  123.08   89004200          0             0
2020-12-03  123.52  123.78  122.21  122.94   78967600          0             0
2020-12-04  122.60  122.86  121.52  122.25   78260400          0             0
2020-12-07  122.31  124.57  122.25  123.75   86712000          0             0
2020-12-08  124.37  124.98  123.09  124.38   82225500          0             0
2020-12-09  124.53  125.95  121.00  121.78  115089200          0             0
2020-12-10  120.50  123.87  120.15  123.24   81312200          0             0
2020-12-11  122.43  122.76  120.55  122.41   86939800          0             0
2020-12-14  122.60  123.35  121.54  121.78   79184500          0             0
2020-12-15  124.34  127.90  124.13  127.88  157572300          0             0
2020-12-16  127.41  128.37  126.56  127.81   98208600          0             0
2020-12-17  128.90  129.58  128.04  128.70   94359800          0             0
2020-12-18  128.96  129.10  126.12  126.66  192541500          0             0
2020-12-21  125.02  128.31  123.45  128.23  121251600          0             0
2020-12-22  131.61  134.41  129.65  131.88  168904800          0             0
2020-12-23  132.16  132.43  130.78  130.96   88223700          0             0
2020-12-24  131.32  133.46  131.10  131.97   54930100          0             0
2020-12-28  133.99  137.34  133.51  136.69  124486200          0             0
2020-12-29  138.05  138.79  134.34  134.87  120778200          0             0
2020-12-30  135.58  135.99  133.40  133.72   92882124          0             0

In [33]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                       Close  Dividends         High          Low  \
Date
2020-11-30 AAPL   119.050003          0   120.970001   116.809998
           GOOG  1760.739990          0  1788.064941  1755.000000
           MSFT   214.070007          0   214.759995   210.839996
2020-12-01 AAPL   122.720001          0   123.470001   120.010002
           GOOG  1798.099976          0  1824.829956  1769.369995
...                      ...        ...          ...          ...
2020-12-29 GOOG  1758.719971          0  1792.439941  1756.089966
           MSFT   224.149994          0   227.179993   223.580002
2020-12-30 AAPL   133.720001          0   135.990005   133.399994
           GOOG  1739.520020          0  1765.094971  1725.680054
           MSFT   221.679993          0   225.630005   221.470001

                        Open  Stock Splits     Volume
Date
2020-11-30 AAPL   116.970001             0  169410200
           GOOG  1781.183960             0    1823800
           MSFT   214.100006             0   33064800
2020-12-01 AAPL   121.010002             0  128166800
           GOOG  1774.369995             0    1739000
...                      ...           ...        ...
2020-12-29 GOOG  1787.790039             0    1298600
           MSFT   226.309998             0   17348000
2020-12-30 AAPL   135.580002             0   92882124
           GOOG  1762.010010             0    1293285
           MSFT   225.229996             0   19273172

[66 rows x 7 columns]

In [34]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [36]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4045 entries, 2020-12-23 04:15:00-05:00 to 2020-12-30 17:10:00-05:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (MSFT, Open)    2500 non-null   float64
 1   (MSFT, High)    2500 non-null   float64
 2   (MSFT, Low)     2500 non-null   float64
 3   (MSFT, Close)   2500 non-null   float64
 4   (MSFT, Volume)  2500 non-null   float64
 5   (AAPL, Open)    3843 non-null   float64
 6   (AAPL, High)    3843 non-null   float64
 7   (AAPL, Low)     3843 non-null   float64
 8   (AAPL, Close)   3843 non-null   float64
 9   (AAPL, Volume)  3843 non-null   float64
 10  (SPY, Open)     3358 non-null   float64
 11  (SPY, High)     3358 non-null   float64
 12  (SPY, Low)      3358 non-null   float64
 13  (SPY, Close)    3358 non-null   float64
 14  (SPY, Volume)   3358 non-null   float64
dtypes: float64(15)
memory usage: 505.6 KB

In [38]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [39]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700

In [40]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700